@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Share+Tech+Mono|Overpass+Mono');

html { height: 100%; }
body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: "Overpass Mono";
	background-color: #28B1FF;
	color: white;
	padding: 0.5em; 
}
#header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2em;
}
#title, h2 {
	font-family: "Cabin Sketch";
	font-weight: normal;
}
#title {
	font-size: 4em;
}
#about {
	display: flex;
	position: relative;
	background-color: rgba(255,255,255,0.95) !important;
}
#about::after {
	content: "";
	background-image: url("https://github.com/snowblossomcoin/snowblossom/wiki/images/forest2_small.jpg");
	position: absolute;
	left: 0; top: 0; right: 0; bottom: 0;
	z-index: -1;
}
#content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 1em;
	background-color: white;
	color: #28B1FF;
	margin: 0.5em;
}
.share {
	flex-grow: 1;
	flex-basis: 1em;
}
/*
#get-started { background-color: lightgreen; }
#community { background-color: lightblue; }
#development { background-color: salmon; }
*/
#content>*>a {
	display: flex;
	align-self: stretch;
	justify-content: center;
	padding: 0.75em 0em;
	color: #28B1FF;
	/*text-decoration: none;*/
	margin-top: -1px;
	transition: background-color 0.5s, color 0.5s;
}
a:hover {
	background-color: #28B1FF;
	transition: background-color 0.5s, color 0.5s;
	color: white !important;
}
