* {
  color: #36151E;
}

a, button /* &c... */ {
  all: unset;
}

#root {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #D8D8F6;
}

.App {
  overflow: hidden; 
  height: 100%;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

.navbar {
  margin: 10px 0;
  display: flex;
  align-items: stretch;
}

.home-icon {
  border-bottom: 2px solid #D8D8F6;
  &:hover {
    cursor: pointer;
    border-bottom: 2px solid #B18FCF;
  }
}

.nav-empty {
  flex: 1;
}


.nav {
  border-bottom: 2px solid #D8D8F6;
  padding: 10px 6px;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  strong {
    flex: 1;
  }
  &:hover {
    cursor: pointer;
    border-bottom: 2px solid #B18FCF;
  }
}

.Error {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  H1 {
    font-size: 40px;
  }
}

.home-logo {
  margin: 4px;
  height: 60px;
}

.main-page {
 padding-bottom: 70px;
 display: flex;
 flex-direction: column;
 overflow-y: scroll;
 -ms-overflow-style: none;  /* Internet Explorer 10+ */
 scrollbar-width: none;  /* Firefox */
 &::-webkit-scrollbar { 
     display: none; 
     width: 0 !important /* Safari and Chrome */
 }
 a {
  text-decoration: underline;
  color: #593F62;
  &:hover {
      cursor: pointer;
  }
}
}