name: Build site
on: push

jobs:
  push-build:
    name: Build site
    runs-on: ubuntu-20.04

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - uses: actions/setup-node@v2
      with:
        node-version: '16'
        cache: 'npm'

    - name: NPM CI
      run: npm ci

    - name: NPM Build
      run: CI=false npm run build
